.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/app/src/main/assets/secret.properties
/app/src/main/assets/secret_password.properties
/app/src/main/assets/secret_unencrypted.properties
